<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">


        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include 'main/navbar.html.twig' %}

        <div class="container">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}

            <script src="{{ asset('build/js/common.js') }}"></script>
            <script src="{{ asset('build/js/app.js') }}"></script>

        {% endblock %}
    </body>
</html>
